{% extends 'base.html' %}
<!---->
{% block title %} หน้าแรกของฉัน {% endblock title %}
<!---->
{% block content %}
<!---->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">ID</th>
      <th scope="col">Prefix</th>
      <th scope="col">Name</th>
      <th scope="col">Lastname</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    {% for student in students %}
    <tr>
      <th scope="row">1</th>
      <td><a href="{% url 'details' student.id %}">{{ student.std_id }}</a></td>
      <td>{{ student.prefix }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.lastname }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}
